{% extends 'base.html' %}
{% block body %}
<div>
  {% include 'fragments/app_nav.html' %}
  <div class="md:pl-64 flex flex-col flex-1">
    <div class="sticky top-0 z-10 flex-shrink-0 flex h-16 border-b border-gray-200 bg-white dark:bg-gray-900 dark:border-gray-900">
      <button x-on:click="sidebarOpen = true" type="button"
        class="px-4 text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-green-500 md:hidden">
        <span class="sr-only">Open sidebar</span>
        <!-- Heroicon name: outline/menu-alt-2 -->
        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
          stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h7" />
        </svg>
      </button>
      <div class="flex-1 px-4 flex justify-between">
        <div class="flex-1 flex">
          <form class="w-full flex md:ml-0" action="#" method="GET">
            <label for="search-field" class="sr-only">Search</label>
            <div class="relative w-full text-gray-400 focus-within:text-gray-600">
              <div class="absolute inset-y-0 left-0 flex items-center pointer-events-none">
                <!-- Heroicon name: solid/search -->
                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                  aria-hidden="true">
                  <path fill-rule="evenodd"
                    d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                    clip-rule="evenodd" />
                </svg>
              </div>
              <input id="search-field"
                class="block w-full h-full pl-8 pr-3 py-2 border-transparent text-gray-900 dark:text-gray-300 placeholder-gray-500 focus:outline-none focus:placeholder-gray-400 focus:ring-0 focus:border-transparent sm:text-sm dark:bg-gray-900"
                placeholder="Search" type="search" name="search">
            </div>
          </form>
        </div>
        <div class="ml-4 flex items-center md:ml-6 space-x-6">
          <!-- Dark mode toggle -->
          <button @click="toggleDarkMode" type="button"
            class="relative inline-flex flex-shrink-0 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none "
            role="switch" aria-checked="false" x-bind:class="darkMode ? 'bg-sky-900' : 'bg-sky-200'">
            <span class="sr-only">Dark mode</span>
            <span
              class="pointer-events-none relative inline-block h-5 w-5 rounded-fullshadow transform ring-0 transition ease-in-out duration-200"
              x-bind:class="darkMode ? 'translate-x-5' : 'translate-x-0'">
              <span
                class="opacity-100 ease-in duration-200 absolute inset-0 h-full w-full flex items-center justify-center transition-opacity"
                aria-hidden="true"
                x-bind:class="darkMode ? 'opacity-0 ease-out duration-100' : 'opacity-100 ease-in duration-200'">
                🌞
              </span>
              <span
                class="ease-out duration-100 absolute inset-0 h-full w-full flex items-center justify-center transition-opacity"
                aria-hidden="true"
                x-bind:class="darkMode ? 'opacity-100 ease-in duration-200' : 'opacity-0 ease-out duration-100'">
                🌚
              </span>
            </span>
          </button>
          <!-- Notifications -->
          {% comment %} <button type="button"
            class="bg-white p-1 dark:bg-gray-700 rounded-full text-gray-400 hover:text-gray-500 dark:hover:text-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
            <span class="sr-only">View notifications</span>
            <!-- Heroicon name: outline/bell -->
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
              stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
            </svg>
          </button> {% endcomment %}

          <!-- Profile dropdown -->
          <div x-on:click.outside="profileDropdown = false" x-on:keydown.escape.stop="profileDropdown = false"
            class="relative">
            <div>
              <button x-on:click="profileDropdown = !profileDropdown" type="button"
                class="max-w-xs bg-white dark:bg-gray-700 flex items-center text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"
                id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                <span class="sr-only">Open user menu</span>
                <img class="h-8 w-8 rounded-full"
                  src="https://images.unsplash.com/photo-1592520113018-180c8bc831c9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                  alt="">
              </button>
            </div>
            <div x-show="profileDropdown"
              class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white dark:bg-gray-800 ring-1 ring-black ring-opacity-5 focus:outline-none"
              role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1"
              x-transition:enter="transition ease-out duration-100"
              x-transition:enter-start="transform opacity-0 scale-95"
              x-transition:enter-end="transform opacity-100 scale-100"
              x-transition:leave="transition ease-out duration-75"
              x-transition:leave-start="transform opacity-100 scale-100"
              x-transition:leave-end="transform opacity-0 scale-95">
              <a href="#" class="block px-4 py-2 text-sm text-gray-700 dark:text-gray-400 hover:bg-gray-100" role="menuitem" tabindex="-1"
                id="user-menu-item-0">Your Profile</a>

              <a href="#" class="block px-4 py-2 text-sm text-gray-700 dark:text-gray-400 hover:bg-gray-100" role="menuitem" tabindex="-1"
                id="user-menu-item-1">Settings</a>

              <button hx-get="{% url 'account_logout' %}" hx-target="#authModal" @click="modalOpen = true" class="block px-4 py-2 text-sm text-gray-700 dark:text-gray-400 hover:bg-gray-100"
                role="menuitem" tabindex="-1" id="user-menu-item-2">Sign out</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <main id="stage" class="flex-1">
      {% block main %}{% endblock %}
    </main>
  </div>
</div>
{% endblock %}