<!doctype html>
<html
  x-data="App"
  x-bind:class="{ 'dark': darkMode }"
  lang=""
>
<head>
  <meta charset="utf-8">
  <title>DjanGlow JS</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% include 'fragments/header_includes.html' %}
</head>

<body class="bg-white dark:bg-black text-gray-900 dark:text-gray-100">
{% block body %}
<div class="flex flex-col min-h-screen">
  {% include 'fragments/navbar.html' %}
  <main class="flex-grow">
    <div class="max-w-7xl mx-auto px-4 py-6">
      {% block main %}{% endblock %}
    </div>
  </main>
  {% include 'fragments/footer.html' %}
</div>

{% endblock %}

{% include 'fragments/footer_includes.html' %}
</body>
</html>
