{% load i18n %}
{% load account socialaccount %}
{% load form_tags %}

<div class="pb-4 mb-4 border-b border-gray-200">
  <h3 class="text-xl leading-6 font-bold text-gray-900">Log in</h3>
</div>
{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>
  <button title="GitHub" type="button" class="inline-flex items-center px-4 py-2 shadow-sm text-base font-medium rounded-md bg-white hover:border-gray-700 focus:outline-none border border-gray-500"
  href="/accounts/github/login/?process=login">
  <span class="mr-3">
    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="1rem" width="1rem" xmlns="http://www.w3.org/2000/svg"><path d="M511.6 76.3C264.3 76.2 64 276.4 64 523.5 64 718.9 189.3 885 363.8 946c23.5 5.9 19.9-10.8 19.9-22.2v-77.5c-135.7 15.9-141.2-73.9-150.3-88.9C215 726 171.5 718 184.5 703c30.9-15.9 62.4 4 98.9 57.9 26.4 39.1 77.9 32.5 104 26 5.7-23.5 17.9-44.5 34.7-60.8-140.6-25.2-199.2-111-199.2-213 0-49.5 16.3-95 48.3-131.7-20.4-60.5 1.9-112.3 4.9-120 58.1-5.2 118.5 41.6 123.2 45.3 33-8.9 70.7-13.6 112.9-13.6 42.4 0 80.2 4.9 113.5 13.9 11.3-8.6 67.3-48.8 121.3-43.9 2.9 7.7 24.7 58.3 5.5 118 32.4 36.8 48.9 82.7 48.9 132.3 0 102.2-59 188.1-200 212.9a127.5 127.5 0 0 1 38.1 91v112.5c.8 9 0 17.9 15 17.9 177.1-59.7 304.6-227 304.6-424.1 0-247.2-200.4-447.3-447.5-447.3z"></path></svg>
  </span>
  GitHub
</button>
</p>

  {% include "socialaccount/snippets/login_extra.html" %}
{% else %}
  <p>If you have not created an account yet, then please
    <a hx-get="{% url 'account_signup' %}"
      hx-target="#authModal">sign up</a> first.</p>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {% render_form_field form.login %}
  {% render_form_field form.password %}
  {% render_form_field form.remember %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <p>
    <a class="" href="{% url 'account_reset_password' %}">Forgot Password?</a>
  </p>
  <div class="mt-5 sm:mt-6">
    <button type="submit" class="inline-flex justify-center w-full rounded-md border border-transparent shadow-sm px-4 py-2 bg-green-600 text-base font-medium text-white hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 sm:text-sm">Log In</button>
  </div>
</form>
