{% extends "base.html" %}
{% block main %}
<div class="my-12 text-center">
  <h1 class="text-6xl text-green-700 dark:text-green-200 font-bold tracking-tight">🔋 Djang<span
      class="font-thin text-green-500">LowJS</span></h1>
  <p class="mx-auto mt-8 max-w-xl text-2xl text-gray-500 dark:text-gray-200">Let servers do what they're good at.</p>
  <ul class="mt-6 text-xl list-disc pl-12 inline-block marker:text-green-600">
    <li class="pb-2">
      <a href="https://edofic.com/posts/2022-01-28-low-js/" target="_blank"
        class="text-green-500 underline underline-offset-2 hover:no-underline">Some inspiration</a>
    </li>
    <li class="pb-2">
      <a href="https://htmx.org/essays/a-response-to-rich-harris/"
        class="text-green-500 underline underline-offset-2 hover:no-underline" target="_blank">Some pot-stirring</a>
    </li>
    <li class="pb-2">
      <a href="https://www.saaspegasus.com/guides/modern-javascript-for-django-developers/htmx-alpine/" target="_blank"
        class="text-green-500 underline underline-offset-2 hover:no-underline">My starting
        point</a></li>
  </ul>
  {% if request.user.is_authenticated %}
  <p class="my-8">
    <a href="{% url 'dashboard' %}"
      class="inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-green-700 text-base font-medium text-white hover:bg-green-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 sm:text-sm">Go
      to Demo</a>
  </p>
  {% endif %}
  <p class="text-gray-500 italic mt-8 dark:text-gray-200 text-lg">It's Django + "low js." Get it?</p>
</div>
{% endblock %}